@import url('https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* oformlenie */
.container {
	width: 1180px;
	display: block;
	margin: 0 auto;
}

body {
	color: #919191;
	font-family: "Roboto";
	font-size: 18px;
}

.wrapper {
	max-width: 1179px;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 64%;
    left: 50%;
}
h1 {
	color: #ffffff;
	font-size: 60px;
	font-weight: 700;
	text-transform: uppercase;s
	padding: 5px 0;
}
.lg:before {
	content: "";
	height: 2px;
	width: 100%;
	background-color: #fff;
	top: 0;
	position: absolute;
}
h1 .lg {
	color: #ffffff;
	font-size: 60px;
	font-weight: 700px;
	line-height: 25px;
	text-transform: uppercase;
	border-bottom: 3px solid #fff;
	position: relative;
	padding: 30px 0;
	margin: 0 0 70px;
}

/* banner */

.banner {
	text-align: center;
	height:1001px; 
	background: url("images/banner.png") no-repeat center top;
	background-size: cover;
}
/* buttons */

.btn {
	display: line-block;
	vertical-align: middle;
	padding: 15px 30px 15px;
	border: 2px solid #ffffff;
	background-color: transparent;
	color: #ffffff;
	font-family: "Roboto";
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	width: 150px;
	margin: 50px 0 0;
}

.main_nav {
	text-align: center;
	background-color: #252e30;
	margin-bottom: 100px;
}

.main_naw_wrap {
	width: 100%;
    display: block;
}

.navigation {
    font-family: Roboto;
    line-height: 30px;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    padding: 21px 0;
    width: 80%;
    display: inline-block;
    text-align:right;
}

.logo {
	position: relative;
    width: 20%;
    display: inline;
}
.logo_brend {
	color: #fff;
	font-family: Roboto;
	font-size: 30px;
	font-weight: 700;
	line-height: 42px;
	text-transform: uppercase;
	text-decoration: none;
}
.logo_brend a {

}

.logo-img {
	padding: 5px 16px;
	margin-right: 12px;
	background: #4b5456;
	margin: 0 0 0 -70px;
}
.logo-dec {
	color: #2ecc71;
	font-family: Roboto;
	font-size: 30px;
	font-weight: 700;
	line-height: 42px;
    margin: 0 0 0 -5px;
}

.menu_item {
	display: inline;
    padding: 10px 18px;
}
.menu_item:last-child {
	
    padding: 10px 0 10px 20px;
}

.menu_link {
	max-width: 112px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
}

.menu_link:hover {
	color: #2ecc71;
}

.toparea {
	color: #566366;
	font-family: Roboto;
	font-size: 30px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	width: 400px;
}

.text_values {
	color: #919191;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	width: 400px;
}
.hobbies {
    width: 1180px;
    display: block;
    margin: 0 auto;
	margin-bottom: 88px;
}
.hobbies_wrap {
	display: -webkit-box;
	margin-bottom: 40px;
}
 .text_wrap {
 	width: 1180px;
    display: -webkit-box;
    margin: 0 auto;
}
.text_wrapper {
	display: block;
}

.cont {
	height: 754px;
	display: block;
    margin-left: 712px;
    margin-right: 215px;
}
.img1 {
	background: url("images/img1.png") no-repeat;
	background-color: #f2f2f1;
}
.img1:hover {
	background: url("images/img2.png") no-repeat;
	background-color: #f2f2f1;
}
.toparea1 {
	color: #566366;
	font-family: Roboto;
	font-size: 30px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	width: 150px;
	padding: 100px 0 0 0;
	margin-bottom: 40px;
}
.margin_top {

}
.text_values1 {
	color: #919191;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	width: 680px;
	margin-bottom: 68px;
}
.img2 {
	background: url("images/icon1.png") no-repeat;
	padding: 0 0 0 65px;
}
.text_in_btm {
	color: #919191;
	font-family: Roboto;
	font-size: 18px;
	line-height: 30px;
}
.head_text {
	color: #566366;
	font-family: Roboto;
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 13px;
}
.webdes1 {
	width: 315px;
}