@import url('https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* oformlenie */
.container {
	width: 1180px;
	display: block;
	margin: 0 auto;
}

body {
	color: #919191;
	font-family: "Roboto";
	font-size: 18px;
}

.wrapper {
	max-width: 1179px;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 64%;
    left: 50%;
}
h1 {
	color: #ffffff;
	font-size: 60px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 5px 0;
}
.lg:before {
	content: "";
	height: 2px;
	width: 100%;
	background-color: #fff;
	top: 0;
	position: absolute;
}
h1 .lg {
	color: #ffffff;
	font-size: 60px;
	font-weight: 700px;
	line-height: 25px;
	text-transform: uppercase;
	border-bottom: 3px solid #fff;
	position: relative;
	padding: 30px 0;
	margin: 0 0 70px;
}

/* banner */

.banner {
	text-align: center;
	height:1001px; 
	background: url("images/banner.png") no-repeat center top;
	background-size: cover;
}
/* buttons */

.btn {
	display: line-block;
	vertical-align: middle;
	padding: 15px 30px 15px;
	border: 2px solid #ffffff;
	background-color: transparent;
	color: #ffffff;
	font-family: "Roboto";
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	width: 150px;
	margin: 50px 0 0;
}

.main_nav {
	text-align: center;
	background-color: #252e30;
	margin-bottom: 100px;
}

.main_naw_wrap {
	width: 100%;
    display: block;
}

.navigation {
    font-family: Roboto;
    line-height: 30px;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    padding: 21px 0;
    width: 80%;
    display: inline-block;
    text-align:right;
}

.logo {
	position: relative;
    width: 20%;
    display: inline;
}
.logo_brend {
	color: #fff;
	font-family: Roboto;
	font-size: 30px;
	font-weight: 700;
	line-height: 42px;
	text-transform: uppercase;
	text-decoration: none;
}
.logo_brend a {

}

.logo-img {
	padding: 5px 16px;
	margin-right: 12px;
	background: #4b5456;
	margin: 0 0 0 -70px;
}
.logo-dec {
	color: #2ecc71;
	font-family: Roboto;
	font-size: 30px;
	font-weight: 700;
	line-height: 42px;
    margin: 0 0 0 -5px;
}

.menu_item {
	display: inline;
    padding: 10px 18px;
}
.menu_item:last-child {
	
    padding: 10px 0 10px 20px;
}

.menu_link {
	max-width: 112px;
	color: #ffffff;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
}

.menu_link:hover {
	color: #2ecc71;
}

.toparea {
	color: #566366;
	font-family: Roboto;
	font-size: 30px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	width: 400px;
}

.text_values {
	color: #919191;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	width: 400px;
}
.hobbies {
    width: 1180px;
    display: block;
    margin: 0 auto;
	margin-bottom: 88px;
}
.hobbies_wrap {
	display: -webkit-box;
	margin-bottom: 40px;
}
 .text_wrap {
 	width: 1180px;
    display: -webkit-box;
    margin: 0 auto;
}
.text_wrapper {
	display: block;
}

.cont {
	height: 754px;
	display: block;
    margin-left: 712px;
    margin-right: 415px;
}
.img1 {
	background: url("images/img1.png") no-repeat;
	background-color: #f2f2f1;
}
.img1:hover {
	background: url("images/img2.png") no-repeat;
	background-color: #f2f2f1;
}
.toparea1 {
	color: #566366;
	font-family: Roboto;
	font-size: 30px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	width: 150px;
	padding: 100px 0 0 0;
	margin-bottom: 40px;
}
.margin_top {

}
.text_values1 {
	color: #919191;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	width: 680px;
	margin-bottom: 68px;
}
.img2 {
	background: url("images/icon1.png") no-repeat;
	position: absolute;
	padding: 0 0 0 65px;
}
.text_in_btm {
	color: #919191;
	font-family: Roboto;
	font-size: 18px;
	line-height: 30px;
}
.head_text {
	color: #566366;
	font-family: Roboto;
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 13px;
}
.webdes1 {
	width: 315px;
}
.img3 {
	background: url("images/icon2.png") no-repeat;
	position: relative;
	left: 370px;
}
.webdes2 {
	width: 305px;
	position: relative;
	top: 0px;
	left: 50px;
}
.img4 {
	background: url("images/icon3.png") no-repeat;
	position: absolute;
	margin-top: 50px;
	padding: 0 0 0 65px;
}
.webdes3 {
	width: 305px;
}

.img5 {
	background: url("images/icon4.png") no-repeat;
	position: relative;
	margin-top: 50px;
	left: 370px;
}
.webdes4 {
	width: 305px;
	position: relative;
	top: 0px;
	left: 50px;
}


.container12 {
	background-color: #fff;
	height: 620px;
	width: 1200px;
	display: block;
	margin: 0 auto;
}
.toparea2 {
    color: #566366;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    width: 150px;
    padding: 98px 0 0 0;
    margin-bottom: 30px;
}
.my_skills {

}
.text_values8 {
	color: #919191;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
}
.my_skilll_box {
	width: 550px;
}
.btn_contact {
	display: line-block;
	vertical-align: middle;
	padding: 15px 30px 15px;
	border: 2px solid #2ecc71;
	background-color: transparent;
	color: #2ecc71;
	font-family: "Roboto";
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
}
.margin_top1 {
	margin-top: 70px;
}
.progress_box {
	display: block;
    margin-right: 0px;
    margin-left: 640px;
    margin-top: -300px;
}
/* PHOTOSHOP */
.progress_box_litle1 {
	margin-bottom: 40px;
}
.progress1 {
	width: 519px;
	height: 30px;
	background-color: #2ecc71;
}
.progress1_1 {
	background-color:#f2f2f1;
	width: 560px;
	height: 30px;
}
.procents1 {
	color: #ffffff;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	position: absolute;
    margin-left: 480px;
}

/* ILLUSTRATOR */
.progress_box_litle2 {
	margin-bottom: 40px;
}
.progress2 {
	width: 475px;
	height: 30px;
	background-color: #2ecc71;
}
.progress2_2 {
	background-color:#f2f2f1;
	width: 560px;
	height: 30px;
}
.procents2 {
	color: #ffffff;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	position: absolute;
    margin-left: 436px;
}

/* HTML/CSS */
.progress_box_litle3 {
	margin-bottom: 40px;
}
.progress3 {
	width: 519px;
	height: 30px;
	background-color: #2ecc71;
}
.progress3_3 {
	background-color:#f2f2f1;
	width: 560px;
	height: 30px;
}
.procents3 {
	color: #ffffff;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	position: absolute;
    margin-left: 480px;
}

/* PHP/MYSQL */
.progress_box_litle4 {
	margin-bottom: 40px;
}
.progress4 {
	width: 357px;
	height: 30px;
	background-color: #2ecc71;
}
.progress4_4 {
	background-color:#f2f2f1;
	width: 560px;
	height: 30px;
}
.procents4 {
	color: #ffffff;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	position: absolute;
    margin-left: 318px;
}

.img66 {
	background: url("images/container.png")  no-repeat center top;
	height: 441px;
	text-align: center;
	background-size: cover;
}

/* Resume */

.toparea3 {
	position: relative;
	margin: 0 auto;
	top: 100px; 
	color: #566366;
	font-family: Roboto;
	font-size: 30px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 50px;
}
.lorem1 {
	position: relative;
	top: 100px;
	margin: 0 auto;
	color: #919191;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
}
.btn22 {
	position: relative;
	top: 160px;
    vertical-align: middle;
    padding: 15px 20px 15px;
    border: 2px solid #2ecc71;
    background-color: transparent;
    color: #2ecc71;
    font-family: "Roboto";
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}

.my_education {
	height: 800px;
    display: block;
}
.toparea4 {
	color: #566366;
	font-family: Roboto;
	font-size: 30px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 50px;
	margin-top: 80px;
}
.text_values9 {
	color: #919191;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	width: 550px;
}

/* My educatoins */
.ffff22 {
	margin-right: 640px;
}
.ggg {
    height: 720px;
    display: block;
    margin: 0 auto;
    width: 1180px;
}
.graph1 {
	color: #566366;
	font-family: Roboto;
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
    margin-bottom: 6px;
}
.abc1 {
	color: #919191;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	margin-bottom: 6px;
}
.btn11 {
	background-color: #2ecc71;
	vertical-align: middle;
	text-decoration: none;
	color: #ffffff;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	padding: 5px 10px 5px;
}
.fff {
	color: #919191;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
}
.fff:before {
	content: "";
    height: 1px;
    width: 100%;
    background-color: #cccccc;
    position: absolute;
	margin-top: -20px
}
.fgf1 {
	position: absolute;
    display: block;
    margin-top: -180px;
    margin-left: 624px;
}
.fgf2 {
	position: absolute;
    display: block;
    margin-top: 130px;
    margin-left: 624px;
}
.ggg1 {
	margin-top: 50px;
}
.ggg2 {
	margin-top: 50px;
}


/* Work Experience */
.ffff11 {
	width: 550px;
}
.mein_backgr {
	height: 1030px;
    display: block;
    margin: 0 auto;
    width: 1180px;
}

.gggg1:before {
	content: "";
    height: 1px;
    width: 1180px;
    background-color: #cccccc;
    position: absolute;
	margin-top: -100px;
}
.toparea5 {
	color: #566366;
	font-family: Roboto;
	font-size: 30px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	margin-bottom: 50px;
	margin-top: 100px;
}
.abc2 {
	color: #919191;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 12px;
}
.fgf4 {
	position: absolute;
    display: block;
    margin-top: -177px;
    margin-left: 624px;
}
.graph2 {
	color: #566366;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 9px;
}
.text_values10 {
	color: #919191;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 550px;
    margin-top: -10px;
}
.fgf5 {
	position: absolute;
    display: block;
    margin-top: 136px;
    margin-left: 624px;
}
.graph3 {
	color: #566366;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 9px;
}
.fgf6 {
	position: absolute;
    display: block;
    margin-top: 450px;
    margin-left: 624px;
}
.graph4 {
	color: #566366;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 9px;
}

/* john stone */
.dot {
	height: 7px;
	width: 7px;
	background-color: #f2f2f1;
	border: 2px solid #2ecc71;
	border-radius: 50%;
	display: inline-block;
}
.dot:hover {
	background-color: #2ecc71;
}
.dot1 {
	position: relative;
    text-align: center;
    top: 160px;
}
.container11 {
	width: 100%;
	height: 415px;
	background-color: #f2f2f1;
}
.container121{
	display: block;
	margin: 0 auto;
	width: 1060px;
}
.h4_john {
	color: #566366;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 36px;
	text-transform: uppercase;
	position: relative;
    text-align: center;
    top: 120px;
}
.text_lorem1 {
	color: #919191;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 400;
	font-style: italic;
	line-height: 36px;
	text-align: center;
	top: 93px;
    position: relative;
}
#dot2 {
	margin-right: 5px;
}
#dot3 {
	margin-right: 5px;
}

/* portfolio */
.backgra11 {
	display: block;
	margin: 0 auto;
	width: 1180px;
	height: 1395px;
}
.toparea51 {
	color: #566366;
	font-family: Roboto;
	font-size: 30px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	position: relative;
    text-align: center;
    top: 100px;
}
.text_lorem101 {
	color: #919191;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
    top: 140px;
    position: relative;
    width: 1020px;
    margin: 0 auto;
} 
/* BLOKS */
.container_bloks {
	top: 315px;
}

._1block {
	width: 366px;
	height: 300px;
	background-color: #252e30;
	margin-top: 230px;
}
._11blok {

}
.filder1 {
	color: #ffffff;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	padding: 33px 0px 25px 40px;
}
.all_ {
	padding: 0px 0px 0px 20px;
}
.all2:hover {
	color: #ffffff;
}
.all2 {
	color: #919191;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	text-decoration: none;
}

._2block {
	width: 366px;
	height: 300px;
	background: url("images/img.png") no-repeat;
	position: relative;
    margin-top: -300px;
    margin-left: 410px;
}
._2block:hover {
	color: #2ecc71;
	opacity: 0.75;
}
._3block {
	width: 366px;
	height: 300px;
	background: url("images/img1221.png") no-repeat;
	position: relative;
    margin-top: -300px;
    margin-left: 816px;
}
._3block:hover {
	color-profile: #2ecc71;
	opacity: 0.75;
}
._4block {
	width: 366px;
	height: 300px;
	background: url("images/img1224.png") no-repeat;
	position: relative;
    margin-top: 40px;
}
._4block:hover {
	color-profile: #2ecc71;
	opacity: 0.75;
}
._5block {
	width: 366px;
	height: 300px;
	background: url("images/img1225.png") no-repeat;
	position: relative;
    margin-top: -300px;
    margin-left: 410px;
}
._5block:hover {
	color-profile: #2ecc71;
	opacity: 0.75;
}
._6block {
	width: 366px;
	height: 300px;
	background: url("images/img1226.png") no-repeat;
	position: relative;
    margin-top: -300px;
    margin-left: 816px;
}
._6block:hover {
	color-profile: #2ecc71;
	opacity: 0.75;
}
._7block {
	width: 366px;
	height: 300px;
	background: url("images/img1227.png") no-repeat;
	position: relative;
    margin-top: 40px;
}
._7block:hover {
	color-profile: #2ecc71;
	opacity: 0.75;
}
._8block {
	width: 366px;
	height: 300px;
	background: url("images/img1228.png") no-repeat;
	position: relative;
    margin-top: -300px;
    margin-left: 410px;
}
._8block:hover {
	color-profile: #2ecc71;
	opacity: 0.75;
}
._9block {
	width: 366px;
	height: 300px;
	background: url("images/img1229.png") no-repeat;
	position: relative;
    margin-top: -300px;
    margin-left: 816px;
}
._9block:hover {
	color-profile: #2ecc71;
	opacity: 0.75;
} 
/* CONTACT ME */
.backgra22{
	background-color: #252e30;
	height: 900px;
	width: 100%;
	display: block;
}
.cont_me_1{
	width: 530px;
	display: block;
}
.backgra_cont1 {
	display: block;
	width: 1180px;
	margin: 0 auto;
	height: 900px;
	position: relative;
    padding: 95px 0px 0px 0px;
}
.cont_contact {
	color: #ffffff;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.text_cont_me {
	color: #919191;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 560px;
    margin-bottom: 30px;
}
.e-mail1 {
	color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 50px 0px 0px;
}
.e-mail2 {
	color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0px 45px 0px 0px;
}
.e-mailgg {
	color: #919191;
	font-family: Roboto;
	font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    text-decoration: none;
}
.phone {
	color: #919191;
	font-family: Roboto;
	font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
.email222 {
	position: relative;
    display: -webkit-box;
}
.phone212 {
	position: relative;
    display: -webkit-box;
}